html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #222738;
  color: #6e7888;
  overscroll-behavior: none;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  -webkit-touch-callout: none;
  touch-action: none;
  user-select: none;
}

iframe {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

p {
  margin: 0;
  padding: 1em;
  font: bold 1em Futura, sans-serif;
  text-align: center;
  color: #4cffd7;
}
